/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container  {
	margin:0 80px;
}

#logo {
	display:inline-block;
    margin-right: 50px;
}
.navigation li{
	
	margin-right:80px;

}

nav * {
	display:inline-block;
	
	
}
nav{
	height:60px;
}

header h1{
	
	font-size:70px;
	margin-left:20px;
}
header {
	display:block;
	border-bottom:2px solid grey;
	margin:0 auto 80px auto;
	padding-bottom: 20px;
}

.top{
	display:block;
	
}
.top #logo{
	margin-right:50px;
}


.main {
	margin-right:5px;
	width:100%;
	
	
}


	

.header-right, .header-left{
	display:inline-block;
	width:45%;

}
 
.header-left{
	text-align:center;
	
}
 .right, .left{
	 width:40%;
	 display:inline-block;
	 height:100px;
 }
 
 .bottom-left, .bottom-middle, .bottom-right{
	 width:30%;
height:150px;
display:inline-block;
border-bottom:2px solid grey;
padding-bottom:50px;

 }

 
 .bottom-all{
	 display:block;
	 margin-top:50px;
	 margin-bottom:40px;
 }

 .middle-img{
	 width:100%;
 }

 .footer{
	 width:100%;
	 text-align:center;
 }
 footer{
	 margin-top:50px;
 }

 .main{
	 display:block;
 }